a{
    cursor: pointer;
}
body{
    overflow-x: hidden ;
}
.modal-contenedor{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.img-carrito{
    width: 200px;
    padding: 20px;
}

.modal-content{
    background-color: rgb(241, 241, 241);
}

.parrafo{
    font-weight: 750;
    font-style: italic;
    text-align: center;
}

#activarFuncion{
    opacity: 0;
}

.alerta{
    font-weight: 900;
}